
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shijian:before { content: "\e600"; }
.icon-chahao:before { content: "\e65b"; }
.icon-jia:before { content: "\e601"; }
.icon-tianjia:before { content: "\e602"; }
.icon-xiaochahao:before { content: "\e659"; }
.icon-gengduo:before { content: "\e603"; }
.icon-youxiang:before { content: "\e604"; }
.icon-shezhi:before { content: "\e605"; }
.icon-youxiang1:before { content: "\e606"; }
.icon-wenjianjia:before { content: "\e607"; }
.icon-iconfontword:before { content: "\e63d"; }
.icon-iconfontshezhi:before { content: "\e656"; }
.icon-search:before { content: "\e608"; }
.icon-sousuo:before { content: "\e609"; }
.icon-bianji:before { content: "\e60a"; }
.icon-rili:before { content: "\e60b"; }
.icon-chakan:before { content: "\e60c"; }
.icon-minus:before { content: "\e60d"; }
.icon-shangchuanupload:before { content: "\e60e"; }
.icon-31:before { content: "\e60f"; }
.icon-txt:before { content: "\e63e"; }
.icon-bianji1:before { content: "\e610"; }
.icon-zhankai:before { content: "\e611"; }
.icon-youxiang2:before { content: "\e612"; }
.icon-shousuojiantou:before { content: "\e613"; }
.icon-jpg:before { content: "\e63f"; }
.icon-mp3:before { content: "\e651"; }
.icon-png:before { content: "\e640"; }
.icon-psd:before { content: "\e641"; }
.icon-txt1:before { content: "\e642"; }
.icon-zip:before { content: "\e657"; }
.icon-shezhi1:before { content: "\e614"; }
.icon-txt2:before { content: "\e643"; }
.icon-shangchuan:before { content: "\e615"; }
.icon-xiazai:before { content: "\e616"; }
.icon-mp4:before { content: "\e652"; }
.icon-gengduo1:before { content: "\e617"; }
.icon-cuo:before { content: "\e65c"; }
.icon-iconfontshaixuan:before { content: "\e658"; }
.icon-youjiantou:before { content: "\e618"; }
.icon-zuojiantou:before { content: "\e619"; }
.icon-gengduo2:before { content: "\e61a"; }
.icon-shang:before { content: "\e61b"; }
.icon-shouqi:before { content: "\e61c"; }
.icon-jiab:before { content: "\e61d"; }
.icon-jia1:before { content: "\e61e"; }
.icon-jian:before { content: "\e61f"; }
.icon-zan:before { content: "\e620"; }
.icon-zhankai1:before { content: "\e621"; }
.icon-iconfontcolor47:before { content: "\e644"; }
.icon-iconfontcolor48:before { content: "\e645"; }
.icon-iconfont89:before { content: "\e646"; }
.icon-xinjianguidangjia:before { content: "\e622"; }
.icon-tianjia1:before { content: "\e623"; }
.icon-iconfonticonfont85:before { content: "\e647"; }
.icon-iconfonticonfont86:before { content: "\e648"; }
.icon-iconfonticonfont88:before { content: "\e649"; }
.icon-iconfonticonfontcolor48:before { content: "\e64a"; }
.icon-iconfonticonfontcolor49:before { content: "\e64b"; }
.icon-iconfonticonfontcolor50:before { content: "\e64c"; }
.icon-iconfontmp3:before { content: "\e653"; }
.icon-shanchu:before { content: "\e624"; }
.icon-bianji2:before { content: "\e625"; }
.icon-iconfontappreciate:before { content: "\e626"; }
.icon-xiazai1:before { content: "\e627"; }
.icon-shangchuan1:before { content: "\e628"; }
.icon-cstxt:before { content: "\e64d"; }
.icon-zan1:before { content: "\e629"; }
.icon-pdf:before { content: "\e64e"; }
.icon-jian1:before { content: "\e62a"; }
.icon-site:before { content: "\e62b"; }
.icon-xinjianwenjianjia:before { content: "\e62c"; }
.icon-gengduo3:before { content: "\e62d"; }
.icon-xinjianwenjianjia1:before { content: "\e62e"; }
.icon-icon84:before { content: "\e63b"; }
.icon-shanchu1:before { content: "\e62f"; }
.icon-fenxiang:before { content: "\e63c"; }
.icon-view:before { content: "\e630"; }
.icon-jian2:before { content: "\e631"; }
.icon-chakan1:before { content: "\e632"; }
.icon-zan2:before { content: "\e633"; }
.icon-ppt:before { content: "\e64f"; }
.icon-word:before { content: "\e650"; }
.icon-cuo1:before { content: "\e634"; }
.icon-time:before { content: "\e635"; }
.icon-didian:before { content: "\e636"; }
.icon-duigou:before { content: "\e637"; }
.icon-tianjia2:before { content: "\e638"; }
.icon-bianji3:before { content: "\e639"; }
.icon-yinpin:before { content: "\e654"; }
.icon-shipin:before { content: "\e655"; }
.icon-zan3:before { content: "\e63a"; }
.icon-duigou1:before { content: "\e65a"; }
