<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=192.168.10.92;Initial Catalog=BasePlatform;User ID=sa;password=yfb@123" name="connStr"/>
    <!--<add connectionString="Data Source=.;Initial Catalog=BasePlatform;User ID=sa;password=yfb@123" name="connStr"/>-->
    <!--<add connectionString="Data Source=192.168.1.222,1400;Initial Catalog=BasePlatform;User ID=sa;password=flyt@sa2015;" name="connStr"/>-->
    
    <add name="PhotoURL" connectionString="http://192.168.10.92:9005/Upload/" />
    <!--首页轮播-->
    <add name="PhotoURL1" connectionString="http://192.168.10.92:9005/Upload/banner1.png" />
    <add name="PhotoConnectURL1" connectionString="http://192.168.10.92:9005/Upload/banner1.png" />
    <add name="PhotoURL2" connectionString="http://192.168.10.92:9005/Upload/banner2.png" />
    <add name="PhotoConnectURL2" connectionString="http://192.168.10.92:9005/Upload/banner2.png" />
    <add name="PhotoURL3" connectionString="http://192.168.10.92:9005/Upload/banner3.png" />
    <add name="PhotoConnectURL3" connectionString="http://192.168.10.92:9005/Upload/banner3.png" />
    <!--班级轮播-->
    <add name="PhotoURL4" connectionString="http://192.168.10.92:9005/Upload/Bbanner1.png" />
    <add name="PhotoConnectURL4" connectionString="http://192.168.10.92:9005/Upload/Bbanner1.png" />
    <add name="PhotoURL5" connectionString="http://192.168.10.92:9005/Upload/Bbanner2.png" />
    <add name="PhotoConnectURL5" connectionString="http://192.168.10.92:9005/Upload/Bbanner2.png" />
    <add name="PhotoURL6" connectionString="http://192.168.10.92:9005/Upload/Bbanner3.png" />
    <add name="PhotoConnectURL6" connectionString="http://192.168.10.92:9005/Upload/Bbanner3.png" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>