<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!-- <add connectionString="Max Pool Size = 512;Data Source=YFBQA;Initial Catalog=StudentAssociation;User ID=sa;password=yfb@123;Max Pool Size = 512;" name="connStr"/>-->
    <!--<add connectionString="Data Source=.;Initial Catalog=Schoo_Cube;User ID=sa;password=yfb@123" name="connStr"/>-->
    <add connectionString="Data Source=192.168.1.101;Initial Catalog=Schoo_Cube;User ID=sa;password=yfb@123" name="connStr"/>
    <add connectionString="xlf_self" name="SystemKey"/>
    <!--基础平台接口地址-->
    <!--<add connectionString="http://localhost:28771/" name="HandlerUrl"/>-->
    <add connectionString="http://192.168.1.101:8085/" name="HandlerUrl"/>
    <!--应用平台地址-->
    <add connectionString="http://192.168.1.101" name="WebUrl"/>
    <!--论坛地址-->
    <add connectionString="http://192.168.1.101:9010/" name="ForumUrl"/>
    
    <!--论坛地址-社区-->
    <add name="Community" connectionString="/showforum-3.aspx" />
    <!--论坛地址-在线答疑-->
    <add name="OnlineAnswer" connectionString="/showforum-8.aspx" />
    <!--论坛地址-班级论坛-->
    <add name="ClassForum" connectionString="/showforum-6.aspx" />
    <!--论坛地址-课程论坛-->
    <add name="CourseForum" connectionString="/showforum-7.aspx" />
    <!--论坛地址-综合讨论区-->
    <add name="DiscussArea" connectionString="/showforum-5.aspx" />
    <!--论坛地址-聊天室-->
    <add name="ChatRoom" connectionString="/showforum-4.aspx" />
    <!--个人信息-个人学习进度分析-->
    <add name="StudySchedule" connectionString="/AnalysisMobile/student_studyprocess(4).html" />
    <!--个人信息-调查问卷-->
    <add name="Questionnaire" connectionString="/Questionnaire/Option.aspx" />
    <!--个人信息-账户管理-->
    <add name="AccountManagement" connectionString="/Gopay/Pay_Index.aspx" />
    <!--个人信息-修改密码-->
    <add name="UpdatePassword" connectionString="/PersonalSpace/UpdatePwd.aspx" />
    <!--个人信息-教学互动-->
    <add name="TeachingInteraction" connectionString="/OnlineLearning/Innovation.aspx" />
    <!--个人信息-导出-->
    <add name="StudentExport" connectionString="" />


    <!--教师模块-教学活动-->
    <add name="TeachingActivity" connectionString="/WebForm1.aspx"/>
    <!--教师模块-教学统计-->
    <add name="TeachingStatistics" connectionString="/AnalysisMobile/test_mark(10).html" />
    <!--教师模块-访问率分析-->
    <add name="AccessRateAnalysis" connectionString="/SysMessage/RequestStatistics.aspx" />
    <!--教师模块-活动分析-->
    <add name="ActivityAnalysis" connectionString="/AnalysisMobile/work_correction(12).html" />
    <!--教师模块-学习效果-->
    <add name="StudyEffect" connectionString="/AnalysisMobile/knowledge_line(1).html" />
    <!--教师模块-师生名单-->
    <add name="TeacherStudentList" connectionString="/TeacherStudentList/TeachersStudents_Lists.aspx" />
    <!--教师模块-知识点统计-->
    <add name="KnowledgeStatistics" connectionString="/AnalysisMobile/Maintainknowledge.html" />
    <!--教师模块-作业检查-->
    <add name="JobCheck" connectionString="/AnalysisMobile/work_quality.html" />
    <!--教师模块-网站统计-->
    <add name="WebsiteStatistics" connectionString="/SysMessage/VisitRate.aspx" />
    <!--教师模块-数据备份-->
    <add name="DataBackup" connectionString="/SysMessage/DataBackUp.aspx" />
    
  </connectionStrings>

  <appSettings>
    <add key="SendPersonalMailUser" value="Develop@sinptech.com" />
    <add key="SendPersonalMailPwd" value="Flyt@703" />
    <add key="services" value="192.168.1.101"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest maximumErrorResponseLength="-1" />
    </settings>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Develop@sinptech.com">
        <network defaultCredentials="false" host="smtp.exmail.qq.com" password="Flyt@703" port="25" userName="Develop@sinptech.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>